@import "tailwindcss";
@import "@fontsource/iosevka/200.css";
@import "@fontsource/iosevka/300.css";
@import "@fontsource/iosevka/400.css";
@import "@fontsource/iosevka/700.css";
@import "@fontsource/iosevka-aile/400.css";
@import "@fontsource/iosevka-aile/500.css";
@import "@fontsource/iosevka-aile/600.css";
@import "@fontsource/iosevka-aile/700.css";

@theme {
    --font-sans: "Iosevka Aile", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "Iosevka", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
    user-select: none;
    font-family: var(--font-sans);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    text-align: left;
}